[Unit]
Description=Lodestone Minecraft Launcher Website
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/lodestone_website
Restart=on-failure
RestartSec=5
Environment=RUST_LOG=debug

[Install]
WantedBy=multi-user.target
